# ==================== Python ====================
__pycache__/
*.pyc
*.pt
*.bin
*.safetensors
bert-tiny-sst2/

# ==================== Verilog ====================
Verilog/sim/*
!Verilog/sim/tb_*.sv
/Verilog/syn/


references/
BERT_vivado/
draw.io/
*old/
/rtl/
xsim.dir/


*.log
*.jou
*.tcl
*.pb
*.wdb
*.vcd
*.rpt
